<section class="features">
    <div class="action">
        <button class="action-button" type="button" (click)="onButtonClick($event)">
            <!-- @if andf @else are availabe from angular 17 -->
            @if (isVisible) {
                Hide features
            }@else {
                Show more features
            }
        </button>
    </div>
    <!-- @for is available from angular 17 onwards -->
    <div *ngIf="isVisible">
        @for (feature of features; track $index) {
            <app-feature [title]="feature.title" [description]="feature.description"/>
        }
    </div>

</section>