<section class="about-ng">
    <app-about-header></app-about-header>
     <div class="about">
         <p>
             Angular is a SPA development framework which enables us to develop
             rich web applications. Some of the advantages of using
             <span class="highlight">Angular</span> are:
         </p>
         <ul>
             <!-- 
                 Traditional use ngFor directive. With angular 17
                 we have to import NgFor froim the @angular/common module
                 and include it in the import array of the component.
              -->
            <li *ngFor="let feature of features"> {{feature}} </li>
 
            <!-- 
             Introduced with angular 17
             @for (feature of features; track $index) {
                 <li>{{feature}}</li>
             } 
             -->
         </ul>
     </div>
 </section>