<section class="about-ng">
    <h1> {{appTitle}} </h1>
    <div class="about">
        <p>
            Angular is a SPA development framework which enables us to develop
            rich web applications. Some of the advantages of using
            <span class="highlight">Angular</span> are:
        </p>
        <ul>
            <li>Developed by google</li>
            <li>Uses typescript</li>
            <li>Opensource</li>
            <li>Hugely adopted</li>
        </ul>
    </div>
</section>